<!DOCTYPE html>
<html>
<head>	
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	{# <link rel="stylesheet" type="text/css" href="/static/css/style.css"> #}

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet/less" type="text/css" href="/static/css/style.less">
	<link rel="stylesheet" type="text/css" href="/static/faw/css/font-awesome.min.css">

	<script type="text/javascript" src="/static/js/less-1.7.3.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

	{% block head_js %}
	{% endblock %}
</head>
<body>
    {% block body %}

    {% endblock %}
</body>
</html>